<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/categories.css">
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="/css/artist-profile.css">
    <link rel="stylesheet" href="/css/allExhibitions.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Swiper.js -->
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">

    <!-- A-Frame -->
    <script src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>

</head>

<body>
    <article>
        <!-- Nav -->
        <header>
            <nav class="navigation-bar">
                <!-- Logo-->
                <a href="/Home" class="text-decoration-none">
                    <div class="logo">
                        <svg width="113" height="102" viewBox="0 0 113 102" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <rect width="113" height="102" fill="url(#pattern0)" />
                            <defs>
                                <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                    <use xlink:href="#image0" transform="translate(0 -0.0539216) scale(0.005 0.00553922)" />
                                </pattern>
                                <image id="image0" width="175" height="175" xlink:href="/assets/images/WIA.PNG" />
                            </defs>
                        </svg>
                    </div>
                </a>

                <!-- Sökfunktion -->
                <div class="search-wrapper">
                    <div>
                        <form class="form-inline my-2 my-lg-0 " onsubmit="event.preventDefault();">
                            <i class="fas fa-search mr-2"></i>
                            <input class="form-control mr-sm-2" list="search-suggestions" id="search-input" placeholder="Sök din konst här..." autocomplete="off">

                            <!--Läser in nyckelord-->
                        </form>
                    </div>

                    <div class="search-result" id="searchresultbox">
                        <ul id="search-suggestions" style="list-style-type:none">
                        </ul>
                    </div>
                </div>

                <a style="display: block"></a>

                <!-- SearchEngine.js -->
                <script type="text/javascript" src="~/js/searchEngine.js"></script>
                <!-- DropDown meny för kategorier och utställningar.js -->
                <div class="dropdown">
                    <button class="drop-btn"><i class="fas fa-bars"></i></button>
                    <div class="dropdown-content">
                        <a href="/Categories"style="color: rgba(69,73,82,255)">Kategorier</a>
                        <a href="/AllExhibitions"style="color: rgba(69,73,82,255)">Utställningar</a>
                    </div>
                </div>

                <!-- Logga in knapp -->
                <div class="Login-icon">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <a class="Login-link" href="/account/google-logout" style="color: rgba(69,73,82,255)">
                        <i class="fas fa-user"></i> Logga Ut
                    </a>
                    }
                    else
                    {
                        <a class="Login-link" href="/account/google-login" style="color: rgba(69,73,82,255)">
                            <i class="fas fa-user"></i> Logga In
                        </a>
                    }

                </div>
            </nav>           
        </header>

        @RenderBody()

    <!-- Footer -->
    <footer class="d-flex justify-content-between align-items-center">

        <div class="contact">
            <p>Kontakta oss</p>
            <p>Telefonnummer: 070-1234567</p>
            <p>Epostadress: WalkInArt@gmail.com</p>
        </div>

        <div class="icons">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div id="faq-hjälp">
            <a class="faq-link" href="/Faq">Hjälp</a>
        </div>
    </footer>

    <footer id="footer2">
        <span>&copy;2021 DSU Grupp 2</span>
    </footer>

        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/3ef0f906bf.js" crossorigin="anonymous"></script>

        <!-- Jquery-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        <!-- Bootstrap js-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


        <!-- Egna js -->
        @RenderSection("Scripts", required: false)
    </article>
</body>
</html>