@model DSU21_2.ViewModels.ChosenCategoryViewModel

<main id="swup" class="transition">
    <div class="grid-container">
        <h1>@Model.chosenTag.Title</h1>

        <div class="grid-art">
            <img src="/assets/category_images/photo.jpg" alt="/assets/category_images/photo.jpg">
            <a class="to-exhibition" href="/Exhibitions/@Model.chosenTag.Collections[0].Id">

                <div class="info-box">
                    <h3 class="title">@Model.chosenTag.Collections[0].Name</h3>
                    <p class="info-txt">En liten text om vad utställningen handlar om </p>
                </div>
            </a>
        </div>

        @*<div class="grid-art">
                <a class="to-exhibition" href="#">
                    <img src="painting.jpg" alt="">
                    <div class="info-box">
                        <h3 class="title">COLORS av Pelle </h3>
                        <p class="info-txt">En liten text om vad utställningen handlar om </p>
                    </div>
                </a>
            </div>

            <div class="grid-art">
                <a class="to-exhibition" href="#">
                    <img src="sculpture.jpg" alt="">
                    <div class="info-box">
                        <h3 class="title">ANGELS av Maja </h3>
                        <p class="info-txt">En liten text om vad utställningen handlar om </p>
                    </div>
                </a>
            </div>

            <div class="grid-art">
                <a class="to-exhibition" href="#">
                    <img src="ceramics.jpg" alt="">
                    <div class="info-box">
                        <h3 class="title">KERAMIK av Anders </h3>
                        <p class="info-txt">En liten text om vad utställningen handlar om </p>
                    </div>
                </a>
            </div>

            <div class="grid-art">
                <a class="to-exhibition" href="#">
                    <img src="lion.jpg" alt="">
                    <div class="info-box">
                        <h3 class="title">UTSTÄLLNING </h3>
                        <p class="info-txt">En liten text om vad utställningen handlar om </p>
                    </div>
                </a>
            </div>

            <div class="grid-art">
                <a class="to-exhibition" href="#">
                    <img src="painting.jpg" alt="">
                    <div class="info-box">
                        <h3 class="title">UTSTÄLLNING </h3>
                        <p class="info-txt">En liten text om vad utställningen handlar om </p>
                    </div>
                </a>
            </div>

            <div class="grid-art">
                <a class="to-exhibition" href="#">
                    <img src="sculpture.jpg" alt="">
                    <div class="info-box">
                        <h3 class="title">UTSTÄLLNING </h3>
                        <p class="info-txt">En liten text om vad utställningen handlar om </p>
                    </div>
                </a>
            </div>

            <div class="grid-art">
                <a class="to-exhibition" href="#">
                    <img src="ceramics.jpg" alt="">
                    <div class="info-box">
                        <h3 class="title">UTSTÄLLNING </h3>
                        <p class="info-txt">En liten text om vad utställningen handlar om </p>
                    </div>
                </a>
            </div>

            <div class="grid-art">
                <a class="to-exhibition" href="#">
                    <img src="lion.jpg" alt="">
                    <div class="info-box">
                        <h3 class="title">UTSTÄLLNING </h3>
                        <p class="info-txt">En liten text om vad utställningen handlar om </p>
                    </div>
                </a>
            </div>

            <div class="grid-art">
                <a class="to-exhibition" href="#">
                    <img src="painting.jpg" alt="">
                    <div class="info-box">
                        <h3 class="title">UTSTÄLLNING </h3>
                        <p class="info-txt">En liten text om vad utställningen handlar om </p>
                    </div>
                </a>
            </div>

            <div class="grid-art">
                <a class="to-exhibition" href="#">
                    <img src="sculpture.jpg" alt="">
                    <div class="info-box">
                        <h3 class="title">UTSTÄLLNING</h3>
                        <p class="info-txt">En liten text om vad utställningen handlar om </p>
                    </div>
                </a>
            </div>

            <div class="grid-art">
                <a class="to-exhibition" href="#">
                    <img src="ceramics.jpg" alt="">
                    <div class="info-box">
                        <h3 class="title">UTSTÄLLNING</h3>
                        <p class="info-txt">En liten text om vad utställningen handlar om </p>
                    </div>
                </a>
            </div>*@

    </div>
</main>
