@model DSU21_2.ViewModels.HomeViewModel

<main>

    <div class="flex-container">
        <button id="vr-btn">VR</button>
    </div>
    <div class="grid-container">
    
        <h1>Utställningar</h1>
        @for (int i = 0; i < 4; i++)
        {
            <div class="grid-art">
                <img src="@Model.IncomingCollections[i].Artworks.FirstOrDefault().Hyperlink">
                <a class="to-exhibition" href="/Exhibitions/@Model.IncomingCollections[i].Id">
                    <div class="info-box">
                        <h3 class="title">@Model.IncomingCollections[i].Name</h3>
                        <p class="info-txt">@Model.IncomingCollections[i].Description </p>
                    </div> 
                </a>
            </div>
        }
    </div>
</main>
