@model DSU21_2.ViewModels.HomeViewModel

<main>

    <div class="flex-container">
        <button id="vr-btn">VR</button>
    </div>
    <div class="grid-containerHome">
    
        <h1>Utställningar</h1>
        @for (int i = 0; i < 4; i++)
        {
            <div class="grid-artHome">
                <img src="@Model.IncomingCollections[i].Artworks.FirstOrDefault().Hyperlink">
                <a class="to-exhibition" href="/Exhibitions/@Model.IncomingCollections[i].Id">
                    <div class="info-boxHome">
                        <p class="titleHome">@Model.IncomingCollections[i].Name</p>
                        <p class="info-txtHome">@Model.IncomingCollections[i].Description </p>
                    </div> 
                </a>
            </div>
        }
    </div>
</main>
