@model DSU21_2.ViewModels.HomeViewModel

<main>
    <div class="grid-container">
        <h1>Mest besökta</h1>


        @*Hårdkodad till fyra just nu för att fylla grid som består av fyra kolumner
        Behöver förstora griden för att elementen ska få plats horistontellt och
        sätta någon sorts begränsning på hur många element vi kan ladda in?*@


        @for (int i = 0; i < 4; i++)
        {
            <div class="grid-art">
                <img src="/assets/mock_images/gallery1.png" alt="">
                <div class="art-overlay">
                    <a href="/Exhibitions/@Model.CurrentCollections[i].Id" alt="utställning">
                        @Model.CurrentCollections[i].Name
                    </a>
                </div>
            </div>
        }

        @*För slidern senare*@ 
        @*<i class="fas fa-chevron-left"></i>*@
        <i class="fas fa-chevron-right"></i>


        <h1>Kommande utställningar</h1>
        @for (int i = 0; i < 4; i++)
        {
            <div class="grid-art">
                <img src="/assets/mock_images/room1.png" alt="">
                <div class="art-overlay">
                    <a href="/Exhibitions/@Model.IncomingCollections[i].Id" alt="utställning">
                        @Model.IncomingCollections[i].Name
                    </a>
                </div>
            </div>
        }



        <h1>Kategorier</h1>

        @for (int i = 0; i < 4; i++)
        {
            <div class="grid-art">
                <img src="/assets/mock_images/room-example.jpg" alt="">
                <span>@Model.Categories[i].Title</span>
            </div>
        }



    </div>
</main>


