@{
    ViewData["Title"] = "Home Page";
}

<main id="swup" class="transition">
    <div class="gallery-wrapper">
        <div class="gallery">
            <div class="picture-text">
                <img src="img/person.jpg" alt="">
                <p>Titel</p>
            </div>

            <div class="picture-text">
                <img src="img/person_2.jpg" alt="">
                <p>Titel</p>
            </div>

            <div class="picture-text">
                <img src="img/person_3.jpg" alt="">
                <p>Titel</p>
            </div>
        </div>
        <div class="navigation">
            <a href="/index.html"><i class="fas fa-chevron-left" id="chevron-left"></i></a>
            <a href="/gallery.html"><i class="fas fa-chevron-right" id="chevron-right"></i></a>
        </div>
    </div>
</main>
