@model DSU21_2.ViewModels.CategoriesViewModel

<main id="swup" class="transition">
    <div class="grid-container">
        <h1>Alla Kategorier</h1>

      

        @for (int i = 0; i < Model.Categories.Count; i++)
        {
            <div class="grid-art">
                <a class="chosen-category" href="/ChosenCategory/@Model.Categories[i].Id">
                    <img src="@Model.Categories[i].Collections[0].Artworks[0].Hyperlink" alt="@Model.Categories[i].Collections[0].Artworks[0].Hyperlink">
                    <div class="category">
                        <p>@Model.Categories[i].Title</p>
                    </div>
                </a>
            </div>
        }
    

    </div>
</main>