@model DSU21_2.ViewModels.CategoriesViewModel

<main id="swup" class="transition">
    <div class="grid-container">
        <h1>Alla Kategorier</h1>

        @*@for (int i = 0; i < 4; i++)
        {
            <div class="grid-art">
                <img src="/assets/mock_images/gallery2.png" alt="">
                <div class="category-overlay">

                    <a href="/Categories/@Model.Categories[i].Title" alt="kategori">
                        @Model.Categories[i].Title


                    </a>
                </div>
            </div>
        }*@

        @for (int i = 0; i < 4; i++)
        {
            <div class="grid-art">
                <a class="chosen-category" href="/ChosenCategory/@Model.Categories[i].Id">
                    <img src="assets/category_images/photo.jpg" alt="">
                    <div class="category">
                        <p>@Model.Categories[i].Title</p>
                    </div>
                </a>
            </div>
        }




        @*<div class="grid-art">
            <a class="chosen-category" href="#">
                <img src="assets/category_images/painting.jpg" alt="">
                <div class="category">
                    <p>MÅLNINGAR</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="chosen-category" href="#">
                <img src="assets/category_images/sculpture.jpg" alt="">
                <div class="category">
                    <p>SKULPTURER</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="chosen-category" href="#">
                <img src="assets/category_images/ceramics.jpg" alt="">
                <div class="category">
                    <p>KERAMIK</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="chosen-category" href="#">
                <img src="assets/category_images/animal.jpg" alt="">
                <div class="category">
                    <p>DJUR</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="chosen-category" href="#">
                <img src="assets/category_images/landscape.jpg" alt="">
                <div class="category">
                    <p>LANDSKAP</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="chosen-category" href="#">
                <img src="assets/category_images/streetart.jpg" alt="">
                <div class="category">
                    <p>GATUKONST</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="chosen-category" href="#">
                <img src="assets/category_images/glass.jpg" alt="">
                <div class="category">
                    <p>GLASKONST</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="chosen-category" href="#">
                <img src="assets/category_images/music.jpg" alt="">
                <div class="category">
                    <p>MUSIK</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="chosen-category" href="#">
                <img src="assets/category_images/theater.jpg" alt="">
                <div class="category">
                    <p>TEATER</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="chosen-category" href="#">
                <img src="assets/category_images/ice.jpg" alt="">
                <div class="category">
                    <p>IS SKULPTURER</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="chosen-category" href="#">
                <img src="assets/category_images/acrobatic.jpg" alt="">
                <div class="category">
                    <p>AKROBATIK</p>
                </div>
            </a>
        </div>*@

    </div>
</main>