@model DSU21_2.ViewModels.CategoriesViewModel

<main>
        <h1 id="cateory-h1">Alla Kategorier</h1>
    <div class="grid-category">

        @for (int i = 0; i < Model.Categories.Count; i++)
        {
            <div class="grid-artcategory">
                <a class="chosen-category" href="/Categories/@Model.Categories[i].Title">
                    <img src="@Model.Categories[i].Collections.FirstOrDefault().Artworks.FirstOrDefault().Hyperlink" alt="">
                    <div class="category">
                        <p>@Model.Categories[i].Title</p>
                    </div>
                </a>
            </div>
        }
    

    </div>
</main>