
<main id="swup" class="transition">
    <div class="grid-container">
        <h1>KATEGORIER</h1>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/photo.jpg" alt="">
                <div class="category">
                    <p>FOTOGRAFIER</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/painting.jpg" alt="">
                <div class="category">
                    <p>MÅLNINGAR</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/sculpture.jpg" alt="">
                <div class="category">
                    <p>SKULPTURER</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/ceramics.jpg" alt="">
                <div class="category">
                    <p>KERAMIK</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/animal.jpg" alt="">
                <div class="category">
                    <p>DJUR</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/landscape.jpg" alt="">
                <div class="category">
                    <p>LANDSKAP</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/streetart.jpg" alt="">
                <div class="category">
                    <p>GATUKONST</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/glass.jpg" alt="">
                <div class="category">
                    <p>GLASKONST</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/music.jpg" alt="">
                <div class="category">
                    <p>MUSIK</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/theater.jpg" alt="">
                <div class="category">
                    <p>TEATER</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/ice.jpg" alt="">
                <div class="category">
                    <p>IS SKULPTURER</p>
                </div>
            </a>
        </div>

        <div class="grid-art">
            <a class="to-exhibition" href="#">
                <img src="assets/category_images/acrobatic.jpg" alt="">
                <div class="category">
                    <p>AKROBATIK</p>
                </div>
            </a>
        </div>

    </div>
</main>