@model DSU21_2.ViewModels.FaqViewModel
@section Scripts {
    <script src="~/js/faq.js"></script>
}
<main>
    <div class="questions-box">

        <h1>Vanliga frågor </h1>

        <div>
            <div class="question-wrapper">
                <h4 id="question">Itaque earum rerum hic tenetur?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
        </div>

        <hr class="thin-line" />

        <div>
            <div class="question-wrapper">
                <h4 id="question">Itaque earum rerum hic tenetur?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
        </div>

        <hr class="thin-line" />

        <div>
            <div class="question-wrapper">
                <h4 id="question">Itaque earum rerum hic tenetur?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
        </div>


        <hr class="thin-line" />

        <div>
            <div class="question-wrapper">
                <h4 id="question">Itaque earum rerum hic tenetur?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
        </div>


        <hr class="thin-line" />

        <div>
            <div class="question-wrapper">
                <h4 id="question">Itaque earum rerum hic tenetur?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
        </div>

    </div>
    
</main>
