                <h4 id="question">Hur styr jag VR-läget?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Hej, VR-läget styrs via piltangenterna på tangentbordet.</p>
        </div>

        <hr class="thin-line" />

         <div>
            <div class="question-wrapper">
                <h4 id="question">Kan jag använda VR-glasögon för att titta på konst?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
                <h4 id="question">Hur redigerar jag min profil?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
                <h4 id="question">Hur lägger jag till min konst?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
                <h4 id="question">Får mina konstverk rätt format i VR-rummet när jag laddar upp dem?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
