@model DSU21_2.ViewModels.FaqViewModel
@section Scripts {
    <script src="~/js/faq.js"></script>
}
<main>
    <div id="questions-box">

        <h1 id="faq-title">Vanliga frågor </h1>
        
        <h4 class="question" onclick="showDescription()">
            Lorem ipsum dolor sit ametas?

            <i class="fa fa-chevron-down"></i>
        </h4>
        <div class="answer">
            <p><span id="hide"></span><span id="readmoreTxt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas ad quibusdam quaerat hic impedit debitis.</span></p>
        </div>

        <hr class="thin-line">

        <h4 class="question" onclick="showDescription()">
            Sed ut perspiciatis unde omnis iste? 
            <i class="fa fa-chevron-down"></i>
        </h4>
        <div class="answer">
            <p><span id="hide"></span><span id="readmoreTxt">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo.</span></p>
        </div>

        <hr class="thin-line">

        <h4 class="question" onclick="showDescription()">
            At vero eos et accusamus et iusto? 
            <i class="fa fa-chevron-down"></i>
        </h4>
        <div class="answer">
            <p><span id="hide"></span><span id="readmoreTxt">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></p>
        </div>

        <hr class="thin-line">

        <h4 class="question" onclick="showDescription()"> 
            At vero eos et accusamus et iusto? 
            <i class="fa fa-chevron-down"></i>
        </h4>      
        <div class="answer">
            <p><span id="hide"></span><span id="readmoreTxt">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></p>
        </div>


    </div>
    <hr class="thin-line">
    <div id="contact">
        <h2>Kontakta oss</h2>
        <p>Telefonnummer: 070-1234567</p>
        <p>Epostadress: WalkInArt@gmail.com</p>
    </div>
</main>
