
@section Scripts {
    <script src="~/js/faq.js"></script>
}
<main>
    <div class="questions-box">

        <h1 id="faq-h1">Vanliga frågor </h1>

        <div>
            <div class="question-wrapper">
                <h4 id="question">Hur avslutar jag VR-läget?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Hej! Detta gör du enklast genom att trycka "esc". När du gjort detta låser sig VR-läget och du kan navigera dig vidare på sidan.</p>
        </div>

        <hr class="thin-line" />

        <div>
            <div class="question-wrapper">
                <h4 id="question">Hur styr jag VR-läget?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Hej, VR-läget styrs via piltangenterna på tangentbordet.</p>
        </div>

        <hr class="thin-line" />

         <div>
            <div class="question-wrapper">
                <h4 id="question">Kan jag använda VR-glasögon för att titta på konst?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Hej, Ja självklart kan du använda VR-glasögon för att titta på konst för att maximera din upplevelse.</p>
        </div>

        <hr class="thin-line" />

        <div>
            <div class="question-wrapper">
                <h4 id="question">Hur redigerar jag min profil?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Hej, logga in uppe till höger och där kan du redigera din profil och sedan klicka på uppdatera.</p>
        </div>


        <hr class="thin-line" />

        <div>
            <div class="question-wrapper">
                <h4 id="question">Hur lägger jag till min konst?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Hej, för att lägga till ett konstverk så behöver du först logga in. Tryck på "Logga In" uppe i ditt högra hörn. Då kommer du till din profil där du kan välja att trycka "Lägg till ny utställning" för att skapa en ny utställning eller "Lägg till objekt" för att lägga till ett konstverk i en befintlig utställning. Glöm inte att spara ditt konstverk genom att trycka "Lägg till".</p>
        </div>


        <hr class="thin-line" />

        <div>
            <div class="question-wrapper">
                <h4 id="question">Får mina konstverk rätt format i VR-rummet när jag laddar upp dem?</h4>
                <i class="fa fa-chevron-down" id="arrow"></i>
            </div>
            <p id="answer">Hej, ja det får dem. När du laddar upp dina konstverk anpassas ramen automatiskt för att de ska få rätt format och att bilden inte förvrängs. </p>
        </div>

    </div>
    
</main>
