@model DSU21_2.ViewModels.FaqViewModel
@section Scripts {
    <script src="~/js/faq.js"></script>
}
<main>
    <div id="questions-box">
    <h1 id="faq-title">Vanliga frågor</h1>
        <h4 class="question">Lorem ipsum dolor sit ametas? <!--<i--> @*class="arrowdown"*@ <!--onclick="readmore_1()"></i>--> 
        <i class="fa fa-chevron-right rotate" onclick="readmore_1()"></i></h4>
            <div class="answer">
                <p><span id="hide"></span><span id="readmore1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas ad quibusdam quaerat hic impedit debitis.</span></p>
            </div>
            <hr class="thin-line">
        <h4 class="question">Sed ut perspiciatis unde omnis iste? <i class="arrow down" onclick="readmore_2()"></i></h4>
            <div class="answer">
                 <p><span id="hide2"></span><span id="readmore2">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo.</span></p>
            </div>
            <hr class="thin-line">
         <h4 class="question">At vero eos et accusamus et iusto? <i @*class="fas fa-chevron-down"*@ onclick="readmore_3()"></i></h4>
             <div class="answer">
                  <p><span id="hide3"></span><span id="readmore3">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></p>
             </div>
             <hr class="thin-line">
         <h4 class="question"> At vero eos et accusamus et iusto? <i onclick="readmore_4()"></i></h4>
             <div class="answer">
                  <p><span id="hide4"></span><span id="readmore4">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></p>
             </div>
    </div>
    <hr class="thin-line">
    <div id="contact">
        <h2>Kontakta oss</h2>
        <p>Telefonnummer: 070-1234567</p>
        <p>Epostadress: WalkInArt@gmail.com</p>
    </div>
</main>
