
#questions-box {
    padding: 100px;
    border: 1px solid #a893c2;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #707070;
    margin: 200px;
    background-color: #f8f9fa;
}

#faq-title{
    padding-bottom: 50px;
}

.question{
    color: #9f63eb; 
}

.fas fa-chevron-down {
    float: right;
    display: inline-block;
    padding: 5px;
}


#hr.thin-line {
    height: 1px;
    border: 0;
    background-color: grey;
    width: 100%;
}

#readmoreTxt1 {
    display: none;
}

#readmoreTxt2 {
   display: none;
}

#readmoreTxt3 {
    display: none;
}

#readmoreTxt4 {
    display: none;
}

#contact {
    padding: 60px;
}
