
#questions-box {
    padding: 100px;
    border: 1px solid #f8f9fa;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #707070;
    margin: 200px;
    background-color: #f8f9fa;
}

#faq-title{
    padding-bottom: 50px;
}


.question {
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.question:hover {
    color: #9f63eb;
}


.fa.fa-chevron-down {
    cursor: pointer;
}

.fa.fa-chevron-down:hover {
    color: #9f63eb;
}

.fas fa-chevron-up {
    cursor: pointer;
}

#hr.thin-line {
    height: 1px;
    border: 0;
    background-color: grey;
    width: 100%;
}

#readmoreTxt {
    display: none;
}



#contact {
    background-color: #f8f9fa;
    padding: 60px;
}
