footer {
    color: #fff;
    background-color: rgb(32, 32, 32);
    min-height: 8.5vh;
    align-items: center;
}
.contact{
    font-size : 15px;
}
.faq-link{
    position:relative; right: 80%;
    color: #fff;
    font-size: 15px;
}
.icons i {
    margin: 0 5px;
    padding: 0.3em;
    font-size: 1.5em;
    color: #fff;
    background-color: rgb(73, 70, 70);
    border-radius: 16px;
}