footer {
    color: #fff;
    background-color: rgb(32, 32, 32);
    min-height: 8.5vh;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.faq-link{
    position:relative; right: 90%;
    color: #fff;
    font-size: 15px;
}

.icons i {
    margin: 0 5px;
    padding: 0.3em;
    font-size: 1.5em;
    color: #fff;
    background-color: rgb(73, 70, 70);
    border-radius: 16px;
       
}

.icons{
    margin-right: 10%;
}

.contact {
    font-size: 13px;
    line-height: 4px;
    margin-left: 1.5%;
}

    .contact h2 {
        font-size: 13px;
        margin-top: 15px;
    }

#footer2 {
    text-align: center;
    font-size: 0.8em;
    min-height: 3vh;
    bottom: 0;
    
}