
.exhibition-description {
    margin: 4em 1em 0;
    border: 1px solid #000;
    width: 20%;
    border-radius: 4px;
    opacity: 0.75;
    background: #fff;
    padding: 0.5em;
    font-family: 'Modern No. 20';
}

.share-aside {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5em -1.5%;
}

.signout-wrapper {
    background-color: rgb(250, 250, 250);
    padding: 0 0.3em 0 0;
    border-radius: 4px;
    display: flex;
    font-family: 'Modern No. 20';
}

.signout-wrapper:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

.signout-wrapper a {
    color: #000;
    display: flex;
    align-items: center;
}

.signout-wrapper a:hover {
    text-decoration: none;
    color: #000;
}

.share-icon {
    display: flex;
    padding: 0 0.5em;
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
}

.share-icon:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

    .share-icon p {
        margin: auto 0.5em;
        font-family: 'Modern No. 20';
    }


.fas.fa-sign-out-alt {
    color: #000;
    font-size: 2.5em;
    margin: 0 0.2em 0;
}


#main-wrapper {
    margin-top: 75px;
  
}

.gallery-wrapper {
    background-image: url("../assets/images/greyWall.png");
    background-size: cover;
}

.gallery {
    display: flex;
    justify-content: center;
    margin: 2% 0 2em;
    max-width: 100%;
    
}

.gallery img {
    width: 300px;
    height: 400px;
    margin: 3em 2em 2em;
    box-shadow: 7px 7px 7px #000;
}

.gallery img:hover {
    cursor: pointer;
}

.picture-text {
    display: flex;
    flex-direction: column;
    height: 400px;
    font-family: 'Modern No. 20';
}

    .picture-text p {
        text-align: center;
        font-size: 1.8em;
        cursor: pointer;
        margin: 0.5em 2.2em 0;
        border: 1px;
        width: auto;
        border-radius: 2px;
        opacity: 0.85;
        background: #fff;
        padding: 0.1em;
        font-family: 'Modern No. 20';
    }

    .picture-text :hover {
        cursor: pointer;
        background-color: rgb(200, 200, 200);
    }


/*.picture-text button {
    font-weight: bold;
    margin: 1em auto;
    cursor: pointer;
    border: 1px solid #A154F2;
    padding: 0.2em 1em;
    border-radius: 3px;
}*/

/*.picture-text button:hover {
    background: linear-gradient(to bottom, #A154F2, #8EF4A4);
}*/

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0px;
    top: 100px;
    height: 800px;
    width: 1000px; /**/
    margin: auto;
    z-index: 1000;
    /*background-color: rgb(219, 216, 216);*/
    background-color: #f5f5f5; /**/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


#overlay img {
   height: 650px;
   width: 500px;
   margin: 0 2em;
}

#overlay span {
    font-size: 2em;
    bottom: 92%;
    left: 1%;
    position: absolute;
    margin: 0;
}

.btn-readmoregallery { /**/
    width: 150px;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    font-size: 1.5em;
}

    .btn-readmoregallery :hover { /**/
        background-color: rgb(200, 200, 200);
        box-shadow: 7px 7px 7px #000;
    }

.object-info {
    margin: 2em 0;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*visibility: hidden;*/
    /* display: none;*/
    font-family: 'Modern No. 20';
    background: #f5f5f5;
    
}

    .object-info p {
        background: #f5f5f5;
    }

#artwork-description {
    font-size: 1em;
    font-style: normal;
    background: #f5f5f5;
}


.fa-window-close:hover {
    cursor: pointer;
}

.fas.fa-share {
    font-size: 2.5em;
}

    /*.exhibition-link {
    font-weight: bold;
    margin: 1em auto;
    cursor: pointer;
    border: 1px solid #A154F2;
    padding: 0.2em 1em;
    border-radius: 3px;
    color: #000;
}

.exhibition-link:hover {
    background: linear-gradient(to right, #A154F2, #8EF4A4);
    text-decoration: none;
    color: #000;
}*/
    /*SWIPER (Karusel)*/
    /*.gallerylist {
    margin-top: 0%;
}*/
    .swiper-container {
    margin-top: 2%;
}

.swiper-wrapper {
    margin-bottom: 2%;
}

    .swiper-wrapper :hover {
        text-decoration: none;
    }

.swiper-slide {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    font-size: 18px;
    font-family: 'Modern No. 20';
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.room-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.room-noimg {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

#room-span{
    vertical-align: bottom;
    color: #000;
    font-size: 1.5em;
}

#room-span {
    vertical-align: bottom;
    color: #000;
}


.swiper-slide {
    align-content: center;
    
}

.swiper-gallery {
    height: 82.5vh !important;
    margin-top: -17.5em;
}

.swiper-pagination {
    position: inherit !important;
    background-color: rgb(235, 229, 229);
    margin: auto;
}

.swiper-pagination-black {
    padding: 0.5em;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 10% !important;
    border-radius: 4px !important;
}

.swiper-pagination-bullet {
    background-color: black;
    width: 1.2em !important;
    height: 1.2em !important;
}

.swiper-nav-gallery-prev {
    background-color: #30363d65;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
}

.swiper-nav-gallery-next {
    background-color: #30363d65;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
}

.swiper-nav-room-prev {
    background-color: #30363d65;
    padding: 2% 1%;
}

.swiper-nav-room-next {
    background-color: #30363d65;
    padding: 2% 1%;
}
