
header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    white-space: nowrap;
}

nav {
    font-size: 1.5em;
    background-color: #fff;
}

#search-btn {
    border-radius: 30px;
    border: none;
    width: 100px;
    background: -moz-linear-gradient(left, #8EF4A4, #A154F2);
    background: -webkit-linear-gradient(left, #8EF4A4, #A154F2);
    background: linear-gradient(to right, #8EF4A4, #A154F2);
}

#search-input {
    width: 50vh;
}


#logo-title {
    color: black;
    font-size: 30px;
}

#search-suggestions {
    position: relative;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 2rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    display: grid;
}
#search-suggestions :hover {
    background-color:dimgrey;
    color:black;
}
/*#test123{
    display:grid;
}*/

