
header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    white-space: nowrap;
}

nav {
    font-size: 1.5em;
    background-color: #fff;
}
.search-wrapper{
    position:absolute; left: 30%;
}
#search-input {
    width: 50vh;
    font-family: 'Modern No. 20';
    font-size: 18px;
    border-radius: .60rem;
    background-color: #fff;
    color:white;
}
/* Dropdown meny */
.drop-btn {
    position: absolute;
    right: 20%;
    color: #fff;
    border-radius: 10px;
    width: 80px;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown {
   position: relative; right: 30%; bottom: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #fff;
}
.dropdown:hover .dropdown-content {
    display: block;
    font-family:'Modern No. 20';
    font-size:18px;
}
.dropdown:hover .dropbtn {
    background-color: #fff;
}
/* Logga in */
.Login-icon {
    position: absolute; right: 10%;
    
}
.Login-link {
    text-decoration: none;
    color: rgba(69,73,82,255);
    font-family: 'Modern No. 20';
}
.fas.fa-user {
   color: rgba(69,73,82,255)
}



