
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 50px;
    padding: 70px;
    margin-top: 4em;
}

.grid-art {
    height: 200px;
    width: 230px;
}

.grid-art img {
    height: 200px;
    width: 230px;
}

.grid-art a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

.grid-art a:hover {
    text-decoration: underline;
    color: #000;
}


.grid-container h1 {
    padding: 50px 0 0;
    grid-column: span 5;
}

.fas.fa-chevron-right {
    align-self: center;
    justify-self: center;
    font-size: 2.3em;
}

.grid-art:hover .art-overlay {
    height: 100%;
    opacity: 0.7;
}


.all-categories {
    grid-column: span 5;
    margin-left: 2em;
    color: #000;
    font-weight: bold;
    border: 1px solid #000;
    width: 15%;
    text-align: center;
    padding: 0.25em 0;
}

.all-categories:hover {
    color: #000;
    background: linear-gradient(to bottom, #A154F2, #8EF4A4);
    text-decoration: none;
}


