#search-input {
    color: rgba(69,73,82,255);
}
.flex-container {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding-top: 50%;
    background: white;
    border-bottom: 1px solid black;
}
#vr-btn {
    position:relative; left: 75%; top: -200px;
    border-radius: 20px;
    border: none;
    width: 50px;
    background-color: rgba(69,73,82,255);
    color: #fff;
    font-size: 18px;
}
 #vr-btn:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #808080, #575151);
}
.grid-containerHome {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 7%;
    margin-bottom: 2%;
}

.grid-artHome {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 300px;
    width: 300px;
    display: inline-block;
    margin-left: 1%;
}

.grid-artHome img {
    height: 300px;
    width: 300px;
}

.grid-artHome a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

.grid-artHome :hover {
    text-decoration: none;
    color: #000;
    top: -100%;
}


.grid-containerHome h1 {
    padding: 10px 0px 0px 0px;
    grid-column: span 5;
    margin-top: -5%;
}


.grid-artHome span {
    font-size: 1.2em;
    text-align: center;
}


.info-boxHome {
    top: -17%;
    position: relative;
    transition: all .3s ease-out;
    background: #fff;
    opacity: 0.8;
      
}

.info-boxHome :hover{
    top: 50%;
}

