#search-input {
    color: rgba(69,73,82,255);
}
.flex-container {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding-top: 50%;
    background: white;
    border-bottom: 1px solid black;
}

.changeView-btn {
    position: absolute;
    border-radius: 8px;
    width: auto;
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    mix-blend-mode: hard-light;
    border-width: 2px;
    border-color: black;
}

.changeView-btn:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #808080, #575151);
    mix-blend-mode: normal;
    color: white;

}
#change2d-btn {
    right: 3vw;
    top: 15vh;
    width: 20vh;
   
}

#change3droom-btn {
    right: 3vw;
    top: 20vh;
    width: 20vh;
}
.grid-containerHome {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 20px;
    margin-left: 7%;
    margin-bottom: 2%;
}

.grid-artHome {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 300px;
    width: 300px;
    display: inline-block;
    margin-left: 1%;
}

.grid-artHome img {
    height: 300px;
    width: 300px;
}

.grid-artHome a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

.grid-artHome :hover {
    text-decoration: none;
    color: #000;
    top: -100%;
}


.grid-containerHome h1 {
    grid-column: span 5;
}

.fas.fa-chevron-right {
    align-self: center;
    justify-self: center;
    font-size: 2.3em;
}

.grid-artHome span {
    font-size: 1.2em;
    text-align: center;
}

.category-overlay {
    position: relative;
    bottom: 125px;
    background-color: #fff;
    height: 30%;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-overlay a:hover {
    text-decoration: underline;
}

.info-boxHome {
    top: -17%;
    position: relative;
    transition: all .3s ease-out;
    background: #fff;
    opacity: 0.8;
      
}

.info-boxHome :hover{
    top: 50%;
}

