
@section Scripts {

    <script type="text/javascript" src="~/js/swipe.js"></script>


}

@model DSU21_2.ViewModels.ExhibitionsViewModel
<main>
    <div class="gallery-wrapper" style="background-image: url('../assets/images/brownWall.png'); background-size:cover;">
        <iframe id="3d-room" src="@Url.Action("Room3d_2", new { id = Model.Exhibitions.Id })" style="height:80vh;width:100%;"></iframe>
        <button id="change2d-btn" class="changeView-btn" onclick="location.href = '/exhibitions2d/@Model.Exhibitions.Id';">ÄNDRA TILL 2D</button>
        <button id="change3droom-btn" class="changeView-btn" onclick="location.href = '/exhibitions/@Model.Exhibitions.Id';">BYTA RUM</button>
    </div>
        <!-- Rumlista -->
        <div class="swiper-container roomlist">
            <div class="swiper-wrapper">

                <!-- Slides (kallas från model i c#) -->
                @{
                    @for (var i = 0; i < Model.ExhibitionsForRooms.Count; i++)
                    {
                        var room = Model.ExhibitionsForRooms[i];

                        <div class="swiper-slide">
                            @if (room.Artworks[0].Hyperlink != "N/A")
                            {
                                <img class="room-img" src="@room.Artworks[0].Hyperlink">
                            }
                            else
                            {
                                <img class="room-noimg" src="/assets/images/noImage.png">
                            }
                            <a href="/exhibitions/@room.Id" id="room-span">@room.Name</a> @*class="exhibition-link"*@
                            @*<a href="/exhibitions/@room.Id" class="exhibition-link">Gå till utställningen</a>*@
                        </div>
                    }
                }
            </div>

            <!--  navigation buttons -->
            <div class="swiper-button-prev swiper-button-white swiper-nav-room-prev"></div>
            <div class="swiper-button-next swiper-button-white swiper-nav-room-next"></div>
        </div>

</main>