
@section Scripts {

    <script type="text/javascript" src="~/js/swipe.js"></script>
    <script src="~/js/gallery.js"></script>
    <script type="text/javascript" src="~/js/room-switch.js"></script>
}

@model DSU21_2.ViewModels.ExhibitionsViewModel

<partial name="/Views/Exhibitions/_RoomTemplates.cshtml" />
<main style="background-image: url('../assets/images/brownWall.png'); background-size:cover;">
    <div class="gallery-wrapper">
        <iframe id="3d-room" src="@Url.Action("Room3d", new { id = Model.Exhibitions.Id })"style="height:80vh;width:100%;"></iframe>
    </div>
</main>

<!-- Rumlista -->
<div class="swiper-container roomlist">
    <div class="swiper-wrapper">


        <!-- Slides (kallas från model i c#) -->
        @{
            @for (var i = 0; i < Model.ExhibitionsForRooms.Count; i++)
            {
                var room = Model.ExhibitionsForRooms[i];

        <div class="swiper-slide">
            @if (room.Artworks[0].Hyperlink != "N/A")
            {
                <img class="room-img" src="@room.Artworks[0].Hyperlink">

            }
            else
            {
                <img class="room-noimg" src="/assets/images/noImage.png">
            }
            <span class="room-span">@room.Name</span>
        </div>
            }
        }
    </div>

    <!--  navigation buttons -->
    <div class="swiper-button-prev swiper-button-white swiper-nav-room-prev"></div>
    <div class="swiper-button-next swiper-button-white swiper-nav-room-next"></div>
</div>
